/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing : border-box;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.5;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; 
    font-weight: 400; 
    font-style: normal;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
    max-width: 100%;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*- WEBFONTS
------------------*/

/*@font-face {
    font-family: 'Lobster';
    src: url('../wf/lobster/lobster.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lobster';
    src: url('../wf/lobster/lobster.eot');
    src: url('../wf/lobster/lobster.eot?#iefix') format('embedded-opentype'),
         url('../wf/lobster/lobster.woff') format('woff'),
         url('../wf/lobster/lobster.ttf') format('truetype'),
         url('../wf/lobster/lobster.svg#lobster_1.4regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../wf/opensans/opensans-regular.eot');
    src: url('../wf/opensans/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../wf/opensans/opensans-regular.woff') format('woff'),
         url('../wf/opensans/opensans-regular.ttf') format('truetype'),
         url('../wf/opensans/opensans-regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Open Sans';
    src: url('../wf/opensans/opensans-italic.eot');
    src: url('../wf/opensans/opensans-italic.eot?#iefix') format('embedded-opentype'),
         url('../wf/opensans/opensans-italic.woff') format('woff'),
         url('../wf/opensans/opensans-italic.ttf') format('truetype'),
         url('../wf/opensans/opensans-italic.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../wf/opensans/opensans-bold.eot');
    src: url('../wf/opensans/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('../wf/opensans/opensans-bold.woff') format('woff'),
         url('../wf/opensans/opensans-bold.ttf') format('truetype'),
         url('../wf/opensans/opensans-bold.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../wf/opensans/opensans-bolditalic.eot');
    src: url('../wf/opensans/opensans-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('../wf/opensans/opensans-bolditalic.woff') format('woff'),
         url('../wf/opensans/opensans-bolditalic.ttf') format('truetype'),
         url('../wf/opensans/opensans-bolditalic.svg#open_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}*/

/*- BODY
------------------*/

body {
    background: white url('../img/pattern.png') center repeat;
    padding: 30px;
    
    /* css3 */
    /*background:
        url('../img/batter.png') -5% 10px no-repeat, 
        url('../img/pattern.png') center repeat,
        white;*/
}

.page-wrap {
    margin: 0 auto;
    padding: 20px;
    width: 65em;
    border: 3px double #eef2ee;
    background: #fff;
}

/*- TYPE STYLES
------------------- */

hr {
    margin: 30px 0;
    border-top: 1px dotted lightgrey;
}

a {
    /* css3 */
/*    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;*/
}


/*- LAYOUT
------------------- */

.l-primary-column {
    float: left;
    margin: 0 0 20px;
    padding-right: 3%;
    width: 64%;
}
.l-secondary-column {
    float: right;
    margin: 0 0 20px;
    padding: 30px;
    width: 32%;
    background: #f7f6ee;

    /* css3 */
    /*border-radius: 8px;*/
}
.l-clear-both {
    clear: both;
    margin: 20px 0;
}

/*- PAGE HEADER
------------------- */

.site-header {
    position: relative;
    overflow: hidden;
    margin: 0 0 20px;
    padding: 5px 0 0;
    background: #f16251;

    /* css3 */
    /*border-radius: 8px;*/
}
.masthead {
    margin: 0;
    text-align: center;
}
.masthead h1 {
    position: relative;
    margin: 0 0 20px;
    color: black;
    text-transform: uppercase;
    letter-spacing: .6em;
    font-weight: normal;
    font-size: 12px;
    font-family: "open sans", arial, sans-serif;;

    /* css3 */
    /*font-size: .75rem;*/ /* 12/16 */
    /*text-shadow: 1px 1px 0 rgba(255,255,255,.3);*/
}
.masthead h1 strong {
    display: block;
    color: white;
    text-transform: none;
    letter-spacing: 0;
    font-weight: normal;
    font-size: 54px;
    font-family: "lobster", arial, sans-serif;

    /* css3 */
    /*font-size: 3.375rem;*/ /* 54/16 */
    /*text-shadow: 
        0 3px 0 #f16251,
        0 6px 0 rgba(0,0,0,.2);*/
}

/*- GLOBAL NAV
------------------- */

.site-nav-list {
    right: 30px;
    display: block;
    margin: 0;
    padding: 0;
    background: #9ec9ac;
    text-align: center;

    /* css3 */
    /*box-shadow: inset 0 1px 0 0 rgba(255,255,255,.5);*/
}
.site-nav-list > li {
    display: inline-block;
    margin: 0 3px;
}
.site-nav-list a {
    display: inline-block;
    padding: 12px 30px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 12px;
}
.site-nav-list a:hover {
    background: rgba(0,0,0,.1);
    color: white;
}

.site-home li.site-home a,
.site-blog li.site-blog a,
.site-team li.site-team a,
.site-schedule li.site-schedule a {
    border-color: white;
    background: #f16251;
    color: white;
    cursor: default;
}

/*- HERO
------------------- */

.hero {
    position: relative;
    overflow: hidden;
    margin: 20px 0 20px;
    padding-top: 31.7460317%;
    height: 0;

    /* css3 */
    /*border-radius: 8px;*/
}
.hero img {
    position: absolute;
    top: 0;
    left: 0;
}
.hero a:hover,
.hero a:focus {
    color: white;
    text-decoration: none;

    /* css3 */
    /*color: rgba(255,255,255,.75);*/
}
.hero-content {
    position: absolute;
    bottom: 0;
    padding: 10px 20px;
    background: black;

    /* css3 */
    /*background: rgba(0,0,0,.5);*/
    /*background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);*/ /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));*/ /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);*/ /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);*/ /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);*/ /* IE10+ */
    /*background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);*/ /* W3C */
}
.hero-content * {
    color: white;
}
.hero-content h1 {
    margin: 0;
}
.hero-content header + p {
    margin-top: 0;
}
.blog-feature {
    margin-bottom: 30px;
}

/*- TEAM HERO
------------------- */

.team-hero {
    overflow: hidden;
    margin: 30px 0;
    padding: 0 0 30px;
    border-bottom: 1px dotted lightgrey;
}
.team-hero img {
    float: left;
    margin-right: 30px;
}
.team-hero-content {
    overflow: hidden;
    width: 45%;
}

/*- BLOG FEATURE ITEM
------------------- */

.blog-feature-item {
    margin-bottom: 40px;
    padding-bottom: 35px;
    border-bottom: 10px solid #f7f6ee;
}
.blog-feature-header h1 {
    margin-bottom: 0;
}
.blog-cta p {
    margin: 0;
}
.blog-cta a {
    display: inline-block;
    padding: 14px 20px;
    background: #f16251;
    color: white;
    line-height: 1;
    
    /* css3 */
    /*border-radius: 8px;*/
}
.blog-cta a:hover {
    background-color: black;
    text-decoration: none;
}

/*- BLOG ARTICLE
------------------- */

.blog-article-header,
.blog-article-body,
.blog-article-footer {
    margin: 0 30px;
}
.blog-article-header {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 10px solid #f7f6ee;
}
.blog-title {
    margin-bottom: 0;
}
.published {
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 62.5%;
}
.author {
    font-style: italic;
}

/*- BLOG COMMENTS
------------------- */

.comments {
    margin: 60px 0 30px;
}
.comments-list {
    margin: 0;
    padding: 0;
    font-size: 87.5%;
}
.comments-list article {
    padding-bottom: 20px;
    border-top: 1px solid lightgrey;
}
.comment-head {
    overflow: hidden;
    padding: 10px;
    border-bottom: 1px dotted lightgrey;
    background: whitesmoke;
}
.comment-head img {
    float: left;
    margin-right: 15px;
    border: 2px solid gray;
}
.comment-head .author,
.comment-head .published {
    overflow: hidden;
    margin: 0;
}
.comment-head .author {
    margin-top: 5px;
    font-style: normal;
}
.comment-body {
    padding: 0 10px;
}


/*- PLAYERS FEATURE
------------------- */

.players-feature {
    overflow: hidden;
    padding: 30px 0;
    border-top: 10px solid #f7f6ee;
}
.players-feature h1 {
    margin-top: 0;
    padding-left: 10px;
}
.site-team .players-feature:first-child {
    padding-top: 0;
    border-top: none;
}
.players-feature h2 {
    margin-top: 0;
}
.player-wrap {
    margin: 0;
}
.player {
    position: relative;
    float: left;
    padding: 10px;
    width: 16.666666667%;
    font-size: 75%;

    /* css3 */
    /*-webkit-transition: all .2s ease-in-out;*/
}
.player:hover {
    /* css3 */
/*    -webkit-transform: scale(2);
    -webkit-transform: rotate(-3deg);*/
}
.player img {
    padding: 5px;
    border: 1px solid rgba(0,0,0,.3);

    /* css3 */
/*    box-shadow: 0 1px 4px 1px rgba(0,0,0,.3);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;*/
}
.player:hover img {
    border: 1px solid rgba(0,0,0,.5);

    /* css3 */
    /*box-shadow: 0 4px 10px 4px rgba(0,0,0,.3);   */
}
.site-team .player {
    width: 20%;
    font-size: 100%;
}
.player-body {
    position: absolute;
    top: 18px;
    right: 18px;
    bottom: 18px;
    left: 18px;
    overflow: hidden;
    padding: 5px 10px;
    background: rgba(0,0,0,.3);
}
.player-body p {
    color: white;
}
.player-body a {
    color: white;
}
.player-name,
.player-pos {
    margin: 0;
}
.player-name {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px 15px;
    border-top: 5px solid rgba(0,0,0,.2);
    background-color: #9ec9ac;
}
.player-pos {
    position: absolute;
    top: 10px;
    right: 15px;
    display: block;
    width: 40px;
    height: 40px;
    background: #f16251;
    text-align: right;
    text-align: center;
    font-weight: bold;
    line-height: 38px;

    /* css3 */
 /*   border-radius: 100%;
    box-shadow: 0 1px 0 rgba(255,255,255,.3);*/
}

/*.player:nth-child(even) {
    -webkit-transition: all .2s ease-in-out;
}

.player:nth-child(even):hover {
    -webkit-transform: rotate(3deg);
}

.player:nth-child(even) .player-name {
    background: #f16251;
}
.player:nth-child(even) .player-pos {
    background: #9ec9ac;
}*/

/*- SITE FOOTER
------------------- */

.site-footer {
    clear: both;
    overflow: hidden;
    margin: 20px 0 0;
    padding: 30px;
    background: #9ec9ac;

    /* css3 */
    /*border-radius: 8px;*/
}
.site-footer p {
    float: left;
    margin: 0;
    padding: 0 10px;
    width: 50%;
}
.site-footer ul {
    float: right;
    margin: 0;
    width: 50%;
    text-align: right;
}
.site-footer li {
    display: inline-block;
    padding: 0 10px;
    font-size: 11px;
}
.site-footer a {
    color: white;
    text-transform: uppercase;
    letter-spacing: .2em;
}

/*- DEFAULT TABLE
------------------- */
table {
    width: 100%;
    border: 2px solid whitesmoke;
}
thead {
    background: whitesmoke;
}
thead th,
tbody td {
    padding: 5px 10px;
    text-align: left;
}

/*- GAME FEATURE
------------------- */

.last-game-feature h1 {
    margin-top: 0;
}

.last-game-feature,
.upcoming-game-feature {
    margin-bottom: 60px;
}

.upcoming-games-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.upcoming-games-list h1 {
    margin: 0;
}
.upcoming-games-list p {
    margin-top: 0;
}
.upcoming-games-list article {
    padding: 20px 0 10px;
    border-top: 4px double lightgrey;
}

/*- SELECTED GAME
------------------- */

.selected-game {
    margin: 0 0 30px;
    padding: 60px 0 60px;
    border-bottom: 1px dotted lightgrey;
    text-align: center;

    /* css3 */
    /*border-radius: 8px 8px 0 0;*/
    /*background: -moz-linear-gradient(top,  rgba(247, 246, 238, 1) 0%, rgba(0,0,0,0) 100%);*/ /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247, 246, 238, 1)), color-stop(100%,rgba(0,0,0,0)));*/ /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  rgba(247, 246, 238, 1) 0%,rgba(0,0,0,0) 100%);*/ /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  rgba(247, 246, 238, 1) 0%,rgba(0,0,0,0) 100%);*/ /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  rgba(247, 246, 238, 1) 0%,rgba(0,0,0,0) 100%);*/ /* IE10+ */
    /*background: linear-gradient(to bottom,  rgba(247, 246, 238, 1) 0%,rgba(0,0,0,0) 100%);*/ /* W3C */
}
.selected-game h1 {
    color: #f16251;
}
.selected-game p {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .1em;
/*    position: relative;
    padding-top: 30px;*/
}
.selected-game p:after,
.selected-game p:before {
/*    content: "";
    display: block;
    background: rgba(0,0,0,.5);
    height: 1px;
    width: 10px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -5px;*/
}

input {
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

/*- GAME SCORE
------------------- */

.game-score-table th,
.game-score-table td {
    padding: 10px;
}
.game-score-table tbody tr {
    border-bottom: 1px solid #d3d3d3;
}
.game-score-table th {
    text-align: left;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
    font-size: 12px;
}
.game-score-table thead {
    background: #f16251;
}
.game-score-table thead th {
    border-left: 1px dotted #f7f6ee;
    color: white;
    text-align: center;
}


/*- FORMS
------------------- */

label {
    display: block;
    margin: 15px 0 5px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: .625em;
}
label i {
    margin-left: 1em;
    color: lightgrey;
    text-transform: lowercase;
    letter-spacing: 0;
}
fieldset {
    margin: 15px 0;
    padding: 20px;
    border: 1px solid whitesmoke;
}
legend + div label {
    margin-top: 0;
}
legend {
    padding: 0 10px;
    font-weight: bold;
    font-size: 1em;    
}
.t-city,
.t-state,
.t-zip {
    float: left;
    margin-right: .5em;
}
.t-zip + div {
    clear: left;
    margin-top: -1px;
    padding-top: 1px;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/* 'Out of the Way' Demo Styles */

body.demo {
    background: white;
    margin: 50px;
}

.demo-box {
    background: dodgerblue;
    padding: 2em;
    max-width: 45em;
    margin: 0 auto;
    color: white;
}


.demo-box > p:first-child {
    margin-top: 0;
}

.demo-box > p:last-child {
    margin-bottom: 0;
}